#pHomeGrade {
    font-size: 16em;
    text-align: center;
    padding: 0;
    margin: 0;
}

label.error{
    color: #F00;
    font-weight: bold;
}

input.error,
select.error,
textarea.error {
    border: 1px red solid;
}

.spanGrade {
    font-size: .8em;
    padding: 0;
    margin: 0;
}
