header {
    background-color: rgba(26,94,180,0.8);
}

footer {
    background-color: rgba(26,94,180,0.8);
}
body {
    background: whitesmoke;
    background-repeat:repeat-y;
    background-position:center center;
    background-attachment:scroll;
    background-size:100% 100%;
}
.ui-page {
    background: transparent;
}
.ui-content{
    background: transparent;
}

/* Title Css */
h1, h2, h3, h4, p, label {
    color: #1b1d21;
}

h1#homePageTitle{
    color: #1b1d21;
    text-shadow: none;
}

h1.ui-title {
    color: white;
}

.programListItem {
    color: white;
    text-shadow: 2px 2px 8px dimgrey;
}

#pHomeGrade {
    font-size: 16em;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #1b1d21;
}

#gradeAverageTitle {
    font-size: 30vw;
    text-align: center;
    color: #1b1d21;
    font-family: "Arial", Georgia, sans-serif;
    background-color: rgba(216, 224, 227, 0.3);
    border-radius: 20px;
}

#homePageTitle {
    font-size: 8vw;
    text-align: center;
    color: #1b1d21;
    font-family: "Arial", Georgia, sans-serif;
}

#subTitleGrade {
    font-size: 4vw;
    text-align: center;
    color: #1b1d21;
    font-family: "Arial", Georgia, sans-serif;
}
/* Title Css End*/

/* Error Messages */
label.error{
    color: #F00;
    font-weight: bold;
}

input.error,
select.error,
textarea.error {
    border: 1px red solid;
}
/* Error Messages End*/

/* Grades Page Settings */
.spanGradeHeader {
    font-size: 1.1em;
    color: black;
    background-color: rgb(168, 168, 168);
    text-shadow: 1px 1px 1px #c4c4c4;
    border-radius: 3px 3px 0 0;
    padding: 1px 5px;
    margin-bottom: -0.7em;
}
.spanGradeMain {
    font-size: .8em;
    color: black;
}

#lstGrades a {
    color: black;
    text-decoration: none;
}

#lstGrades ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}
#lstGrades ul li {
    border: 2px solid #d8d8d8;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 5px;
    box-shadow: 3px 3px 3px grey;
}

#lstGrades ul li a {
    text-decoration: none;
    margin-top: -3em;
}

.btnGradesEditProgram {
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 0.5em;
    background-color: #FFFFFF;
}

.spanAG {
    display: inline-block;
    float: left;
    width: 48%;
    padding-left: 0.5em;
}

.spanCP {
    display: inline-block;
    float: right;
    width: 48%;
    padding-left: 0.5em;
}

.spanCG {
    display: inline-block;
    float: left;
    width: 48%;
    padding-left: 0.5em;
}

.spanRG {
    display: inline-block;
    float: right;
    width: 48%;
    padding-left: 0.5em;
}

/* Grades Page Settings End*/

/* About Page Css */
#imgProfilePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#imgProfilePicMargo {
    border: 2px solid slategray;
    border-radius: 5px;
    width: 50%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#imgProfilePicMatt {
    border: 2px solid slategray;
    border-radius: 5px;
    width: 50%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: lightgray;
}

#margoSection {
    background-color: rgba(216, 224, 227, 0.3);
    text-align: center;
}

#mattSection {
    background-color: rgba(216, 224, 227, 0.3);
    text-align: center;
}

.btnGitHub {
    width: 100%;
    height: 20px;
}

#lblShowActive {
    display: inline-block;
    font-size: .75em;
}

.floatRight {
    float: right;
}
/* About Page Css End */

/*  Css Title */
.btnNavColoring {
    background-color: #D8E0E3;
}
/* Css Title */

.btnGradesAddCourse {
    background-color: #1b1d21;
}

tr, td {
    margin: 0;
    padding: 0 5px;
}