#pHomeGrade {
    font-size: 16em;
    text-align: center;
    padding: 0;
    margin: 0;
}

label.error{
    color: #F00;
    font-weight: bold;
}

input.error,
select.error,
textarea.error {
    border: 1px red solid;
}

.spanGrade {
    font-size: .8em;
    padding: 0;
    margin: 0;
}
#lstGrades a {
    color: black;
    text-decoration: none;
}

#lstGrades ul {
    list-style-type: none;
    padding: 0;
    maring: 0;
}
#lstGrades ul li {
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: #c4d7dd;
    margin: 2px;
    padding: 5px;
}

#lstGrades ul li a {
    text-decoration: none;
}

#courseGradeList {
    margin-bottom: 10px;
}